body {
  font-family: 'Montserrat', sans-serif;
  background: #000416;
  color: #ffffff;
  scroll-behavior: smooth;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #000029, #00185c);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #000029, #00185c);
}

body {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4e #1c1c1e;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 23px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0051ff;
}

section {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 120px 0 40px;
}

#main-content {
  display: flex;
  gap: 40px;
}

.left-column, .right-column {
  flex: 1;
}

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #dddddd;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  color: #0077ff;
  margin: 15px 0 10px;
  font-size: 24px;
  text-align: center;
}

.description, .production-time, .development-steps, .resource {
  background: #a8a8a810;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #0036e6;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.description:hover, .production-time:hover, .development-steps:hover, .resource:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.resource img {
  width: 80%;
  margin: 10px 0;
  border-radius: 8px;
  transition: transform 0.3s;
}

.resource img:hover {
  transform: scale(1.1);
}

#videos {
  text-align: center;
  padding: 20px;
}

.video-gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.video-gallery a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.3s;
}

.video-gallery img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.video-gallery a:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
}

.video-gallery p {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffffef;
  font-size: 18px;
  text-align: center;
}

/* Footer */
footer {
  background: #000416;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  border-top: 2px solid #0036e6;
  font-size: 13px;
  font-family: 'Bebas Neue', sans-serif;
}

footer h2 {
  transition: color 0.3s;
}

footer h2:hover {
  color: #949494;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  /* Ajustes para la barra de navegación */
  .header-bar {
    flex-direction: column;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    margin-right: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }

  /* Ajustes para el contenido principal */
  #main-content {
    flex-direction: column;
  }

  .left-column, .right-column {
    flex: none;
    width: 100%;
  }

  /* Ajustes para la galería de videos */
  .video-gallery {
    flex-direction: column;
    gap: 15px;
  }

  .video-gallery img {
    width: 100%;
    max-width: 250px;
  }

  /* Ajustes para el tamaño de los textos */
  h1, h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .description, .production-time, .development-steps, .resource {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  /* Ajustes para la barra de navegación en pantallas pequeñas */
  .logo {
    font-size: 24px;
  }

  .nav-links a {
    font-size: 14px;
  }

  /* Ajustes para el contenido principal */
  h1, h2 {
    font-size: 20px;
  }

  .video-gallery img {
    width: 90%;
  }

  footer {
    font-size: 12px;
    padding: 15px;
  }
}
